{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports | Events</title>
    <style>
      #can{
        text-align: center;
      }
    </style>
</head>
<body>
    <h2 id ="can">Welcome to the our Event Page</h2>
</body>
</html>


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sports | Events</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="card mx-3 my-3" style="width: 25rem;">
                <img src="https://w0.peakpx.com/wallpaper/231/327/HD-wallpaper-soccer-ball-net-goal-football-football-stadium.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Football</h5>
                  <p class="card-text">The FIFA World Cup, often simply called the World Cup, is an international association football competition contested by the senior men's national teams of the members of the Fédération Internationale de Football Association (FIFA), the sport's global governing body. The tournament has been held every four years since the inaugural tournament in 1930, except in 1942 and 1946 when it was not held because of the Second World War. The reigning champions are Argentina, who won their third title at the 2022 tournament.</p>
                  <a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card mx-3 my-3" style="width: 25rem;">
                <img src="https://media.gettyimages.com/id/518022060/photo/cricket-batsman-hitting-ball-during-cricket-match-in-stadium.jpg?s=612x612&w=gi&k=20&c=Fck6sAc7vz1Q6vsa37lNhBelRjd8yHanT4OcmyDae0Q=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cricket</h5>
                  <p class="card-text">The brainchild of the Board of Control for Cricket in India (BCCI), the IPL has developed into the most lucrative and most popular outlet for the game of cricket. Matches generally begin in late afternoon or evening so that at least a portion of them are played under floodlights at night to maximize the television audience for worldwide broadcasts. Initially, league matches were played on a home-and-away basis between all teams, but, with the planned expansion to 10 clubs (divided into two groups of five) in 2011, that format changed so that matches between some teams would be limited to a single encounter.</p>
                  <a href="https://www.iplt20.com/matches/schedule/men" class="btn btn-primary">View more</a>
                </div>
            </div>
            <div class="card mx-3 my-3" style="width: 25rem;">
                <img src="https://images.pexels.com/photos/927437/pexels-photo-927437.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Boxing</h5>
                  <p class="card-text">"boxing" is commonly attributed to "western boxing", in which only the fists are involved, boxing has developed in various ways in different geographical areas and cultures. In global terms, boxing is a set of combat sports focused on striking, in which two opponents face each other in a fight using at least their fists, and possibly involving other actions such as kicks, elbow strikes, knee strikes, and headbutts, depending on the rules. Some of the forms of the modern sport are western boxing, bare knuckle boxing, kickboxing, muay-thai, lethwei, savate, and sanda.[1][2] Boxing techniques have been incorporated into many martial arts, military systems, and other combat sports.</p>
                  <a href="https://www.boxingscene.com/schedule" class="btn btn-primary">View more</a>
                </div>
            </div>
            <div class="card mx-3 my-3" style="width: 25rem;">
                <img src="https://images.pexels.com/photos/3769002/pexels-photo-3769002.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card mx-3 my-3" style="width: 25rem;">
                <img src="https://media.istockphoto.com/id/1367872098/photo/full-length-shot-of-a-handsome-young-male-athlete-running-on-an-outdoor-track.jpg?b=1&s=612x612&w=0&k=20&c=iMlV_JEtqLhhMcKsat8k1SZoqFTa5RHZvKK2hC_zSJc=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">View more</a>
                </div>
            </div>
            <div class="card mx-3 my-3" style="width: 25rem;">
                <img src="https://images.pexels.com/photos/927437/pexels-photo-927437.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">View more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>